*.idea
venv/
__pycache__/
*.egg-info
conversion_results/
data/
test.py
*.zip
pytest_coverage_run_command.txt
.coverage
*.pyc
*.pdf
docs/_build
data/*
.DS_Store
.ipynb_checkpoints
.pytest_cache
build/
dist/
coverage.xml
/*.xlsx
/*.csv
/*.json
src/messes/_version.py
/*.png
isadatasets
createSimpleISAJSON.py
ISA_traversal.py
output.txt
tests/output.*
tests/test_extract/output.*
tests/test_extract/testing_files/output.*
tests/test_extract/testing_files/main_dir/output.*
tests/test_validate/output.*
tests/test_validate/testing_files/output.*
tests/test_validate/testing_files/main_dir/output.*
tests/test_convert/output.*
tests/test_convert/testing_files/output.*
tests/test_convert/testing_files/main_dir/output.*
output_std_err.txt
output_std_out.txt
src/messes/convert/scratch.py
src/messes/convert/scratch2.py
simple_validate_test.py
Questions for meeting.txt
model_investigation.txt
isajson_validation_messaging_examples.txt
examples/extract/~$MS_colon_measurements_truncated.xlsx
examples/extract/~$mouse_experiment_metadata.xlsx
